.hero {
  display: flex;
  justify-content: center;
  margin-top: 180px;
  margin-bottom: 100px;

  @media (min-width: 768px) {
    margin-top: 260px;
    margin-bottom: 200px;
  }

  h1 {
    font-size: 64px;
    text-align: center;
    line-height: 42px;
    letter-spacing: -1px;
    text-shadow: #000 0 0 30px;

    @media (min-width: 768px) {
      font-size: 84px;
      line-height: 56px;
    }

    span {
      font-size: 32px;
      line-height: 20px;
      font-weight: normal;
      text-shadow: #000 0 0 30px;

      @media (min-width: 768px) {
        font-size: 42px;
      }
    }
  }
}
