* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  &:focus {
    outline: 0;
  }
}

body {
  background-color: #262535;
  color: #fff;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left:0;
    background-image: url("./assets/Bg.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: .8;
  }
}